/* styles/globals.css */
body
{
  margin: 0;
  padding: 0;
}

.cursor-wait * {
  cursor: wait;
}

.Mui-focused-row {
  background-color:#C5D2E7;
}

/* Styles for scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.4em;
  height:0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4870ac; 
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777F8C; 
}